# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\upGrad Learning Centre\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
